<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습2</title>
  </head>
  <body>
    <h1>실습문제 2</h1>

    <form
      action="practice2-post"
      method="post"
      name="practice2"
      target="_blank"
    >
      <label>이름:<input type="text" name="name" id="name" /></label>

      <br />
      <fieldset name="wm">
        <legend>성별</legend>
        <label> <input type="radio" name="wm" id="man" />남자</label>
        <label> <input type="radio" name="wm" id="man" />여자</label>
      </fieldset>

      <br />
      <fieldset name="birthday">
        <legend>생년월일</legend>
        <label for="birthday">
          <select name="yyyy" id="year">
            <% for(i =1910; i<=2025; i++){%>
            <option value="<%=i%>" <%="i" %>></option>
            <% } %>
          </select></label
        >
        <label for="birthday">
          <select name="mm" id="month">
            <% for(i =1; i<=12; i++){%>
            <option value="<%=i%>" <%="i" %>></option>
            <% } %>
          </select></label
        >
        <label for="birthday">
          <select name="dd" id="day">
            <% for(i =1910; i<=2025; i++){%>
            <option value="<%=i%>" <%="i" %>></option>
            <% } %>
          </select></label
        >
      </fieldset>

      <fieldset>
        <legend>선택</legend>
        <label for="choose">
          <input type="color" name="color" id="likecolor" />좋아하는 색상
          <input type="number" name="number" id="likenumber" />좋아하는 숫자
        </label>
      </fieldset>
      <button>회원가입</button>

      <script>
        function checkForm(form) {
          console.log(form.name);
          console.log(form.wm);

          if (form.name.value.trim() === "") {
            alert("이름을 작성해주세요!");
            return false;
          }

          if (form.wm.value.trim() === "") {
            alert("성별을 선택해주세요!");
            return false;
          }
        }
      </script>
    </form>
  </body>
</html>
