<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결과 화면</title>
    <link rel="stylesheet" href="/static/myPage.css" />
  </head>
  <body>
    <div class="card">
      <h1><span><%=userinfo.userName%></span>님 마이페이지</h1>
      <img src="/<%= src %>" alt="프로필 이미지" width="200" />
      <p>
        <span>아이디</span>
        <span><%= userinfo.userid %></span>
      </p>
      <p>
        <span>비밀번호</span>
        <span><%= userinfo.password %></span>
      </p>
      <p>
        <span>이름</span>
        <span><%= userinfo.userName %></span>
      </p>
      <p>
        <span>나이</span>
        <span><%= userinfo.age %></span>
      </p>
    </div>
  </body>
</html>
